.container { max-width: 960px; }

.logo { width: 40px; height: auto; }

ul.jumplinks { list-style-type: none; padding-left: 0; }
ul.jumplinks li { display: inline-block; padding: 0.25em 0.5em; }
ul.jumplinks li a { text-decoration: none; }

.social-icons { text-align: center; }
.social-icons img { width: 3em; height: auto; }
.btn-container { margin-top: 0.5em; }
.btn-patreon { margin: 0.5em 0.25em; background-color: #FF424D; border-color: #FF424D; }
.btn-patreon:active, .btn-patreon:focus, .btn-patreon:hover { background-color: #ff6871; border-color: #ff6871; }
.btn-patreon img { height: 1em; width: 1em; margin-right: 0.25em; }
.btn-portfolio { margin: 0.5em 0.25em; background-color: #198754; border-color: #198754; }
.btn-portfolio:active, .btn-portfolio:focus, .btn-portfolio:hover { background-color: #006e3b; border-color: #006e3b; }
.btn-portfolio img { height: 1.25em; width: 1.25em; margin-top: -0.25em; margin-right: 0.25em; }

.btn-commission { border: 1px solid lightgray; }
.btn-commission:active, .btn-commission:focus, .btn-commission:hover { border: 1px solid black; }
.btn-commission img { width: 1.75em; height: auto; margin-right: 0.5em; }

#shopsDiv { margin-bottom: 1.25em; }
.btn-shops { border: 1px solid lightgray; margin: 0.75em 0; padding: 0.75rem; font-size: 1rem; }
.btn-shops:active, .btn-shops:focus, .btn-shops:hover { border: 1px solid black; }
.btn-shops img { width: 1.75em; height: auto; margin-right: 0.5em; }

#products, #commissionsDiv { margin-bottom: 2em; font-size: 0.85rem; margin-top: 1em; }
#products .col, #commissionsDiv .col { margin: 0; padding: 0.1em 0.25em; }
#products img, #commissionsDiv img { max-width: 100%; border-radius: 3px; margin-bottom: 0.25em; }
#products a, #commissionsDiv a { text-decoration: none; color: black!important; }

#databases { margin-bottom: 2em; }
#stocksites { margin-bottom: 4em; }
.btn-databases, .btn-stocksites { border: 1px solid lightgray; margin: 0.75em 0; padding: 0.75rem; font-size: 0.85rem; }
.btn-databases:active, .btn-databases:focus, .btn-databases:hover, .btn-stocksites:active, .btn-stocksites:focus, .btn-stocksites:hover { border: 1px solid black; }
.btn-databases img, .btn-stocksites img { width: 1.75em; height: auto; margin-right: 0.5em; }

@media only screen and (min-width: 392px) {
	.btn-databases, .btn-stocksites { font-size: 1rem; }
	p.card-text { display: block; }
}

@media only screen and (min-width: 768px) {
	.logo { margin-right: 0.5em; }
	
	nav { width: auto; }
	nav a { margin-left: 2em; }
}