.container { max-width: 960px; }

.logo { width: 40px; height: auto; }

nav { width: 100%; display: flex; justify-content: space-around; clear: both; }
nav a { color: forestgreen; text-decoration: none; }
nav a:hover, nav a:focus { text-decoration: underline; }

.social-icons { text-align: center; }
.social-icons img { width: 3em; height: auto; }
.btn-container { margin-top: 0.5em; }
.btn-patreon { margin: 0.5em 0.25em; background-color: #FF424D; border-color: #FF424D; }
.btn-patreon:active, .btn-patreon:focus, .btn-patreon:hover { background-color: #ff6871; border-color: #ff6871; }
.btn-patreon img { height: 1em; width: 1em; margin-right: 0.25em; }

.btn-commission { border: 1px solid lightgray; }
.btn-commission:active, .btn-commission:focus, .btn-commission:hover { border: 1px solid black; }
.btn-commission img { width: 1.75em; height: auto; margin-right: 0.5em; }

#shops { margin-bottom: 3em; }
.btn-shops { border: 1px solid lightgray; margin: 0.75em 0; padding: 0.75rem; font-size: 1rem; }
.btn-shops:active, .btn-shops:focus, .btn-shops:hover { border: 1px solid black; }
.btn-shops img { width: 1.75em; height: auto; margin-right: 0.5em; }

#products, #commissions { margin-bottom: 3em; font-size: 0.85rem; }
#products .col, #commissions .col { margin: 0; padding: 0.1em 0.25em; }
#products img, #commissions img { max-width: 100%; border-radius: 3px; margin-bottom: 0.25em; }
#products a, #commissions a { text-decoration: none; color: black!important; }

#databases { margin-bottom: 3em; }
.btn-databases { border: 1px solid lightgray; margin: 0.75em 0; padding: 0.75rem; font-size: 0.85rem; }
.btn-databases:active, .btn-databases:focus, .btn-databases:hover { border: 1px solid black; }
.btn-databases img { width: 1.75em; height: auto; margin-right: 0.5em; }

@media only screen and (min-width: 392px) {
	.btn-databases { font-size: 1rem; }
	p.card-text { display: block; }
}

@media only screen and (min-width: 768px) {
	.logo { margin-right: 0.5em; }
	
	nav { width: auto; }
	nav a { margin-left: 2em; }
}